body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-custom{
  background-color: rgb(255, 255, 255);
}

/* .nav-item{
  color: white;
} */

.login{
  background-color: rgb(74, 91, 167);
  color: white;
  border: 2px solid white;
}

.signup{
  background-color: rgb(255, 255, 255);
  color: rgb(74,91,167);
  border: 2px solid rgb(0, 0, 0);
}

.color-purp{
  color: rgb(174, 0, 255);
}

.md-5{
  margin: auto;
  margin-top: 5%;
}

.container{
  max-width: 1100px;
}

.search-raw{
  background-color: white;
}